<div class="row wrapper border-bottom white-bg page-heading">
                 <div class="col-lg-10">
                    <h2>{{title}}</h2>
                     <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li routerLinkActive="active" routerLink="basicData"><a > Data</a></li>
                            <li class="" routerLinkActive="active" routerLink="settings"><a>Settings</a></li>
                            <li class="" routerLinkActive="active" routerLink="users"><a>Users</a></li>
                            <li class="" routerLinkActive="active" routerLink="subAccounts"><a>Sub Accounts</a></li>
                            <!-- <li class="" routerLink="basicData"><a>Rigts Template</a></li> -->
                        </ul>
                        
                    </div>      
                </div>
                <div class="col-lg-2">

                </div>
            </div>