        <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Welcome! {{user.username}}</h2>
                    <ol class="breadcrumb">
                        <li>
                          <b>{{user.email}}</b>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <div class="row">
                 <div class="col-lg-8">
                     <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Last Changed products</h5>
                        </div>
                     </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Domain Stats</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="flot-chart">
                                <div class="flot-chart-pie-content" id="flot-pie-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               